@font-face {
  font-family: "Poppins";
  src: url("poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("poppins/Poppins-Regular.woff2") format("woff2"),
    url("poppins/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("playfair_display/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("playfair_display/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("playfair_display/PlayfairDisplay-Black.woff2") format("woff2"),
    url("playfair_display/PlayfairDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("playfair_display/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("playfair_display/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
